<header class="header-main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav class="navbar navbar-default">

          <div class="container-fluid">

            <div class="navbar-header">
              <a [routerLink]="['/home']" class="navbar-brand" >Brand</a>
            </div>

            <ul class="nav navbar-nav">
              <li routerLinkActive="active" *ngFor="let item of menuItems">
                <a [routerLink]="[item.path]">{{ item.name }}</a>
              </li>
            </ul>

          </div>

        </nav>

      </div>
    </div>
  </div>
</header>
